<template>
  <div>
    <div class="card profile__other_code">
      <div class="card-header card-header-w">¿Tienes otro código?</div>
      <div class="card-body">
        <form action method="POST">
          <div class="input-group">
            <input type="text" v-model="code" class="form-control" required />
            <div class="input-group-append">
              <ButtonLoading
                @click.native="addCode()"
                class="btn btn-dark"
                :loading="load_code"
                >+</ButtonLoading
              >
            </div>
          </div>
          <p
            v-if="hasError('code')"
            v-for="err in getError('code')"
            class="err"
          >
            {{ err }}
          </p>
        </form>
      </div>
    </div>
    <div class="card profile__card-codes">
      <div class="card-header card-header-w">Códigos validados</div>
      <div class="card-body">
        <div class="profile__codes">
          <div>
            <b-alert
              @dismissed="success_code = false"
              variant="success"
              :show="success_code"
              dismissible
              fade
              >Su código cambio correctamente</b-alert
            >
          </div>
          <div class v-if="codes.length > 0">
            <ul>
              <li
                class="profile__codes__item"
                :class="{
                  'profile__codes__item--inactive': !c.is_active,
                  'profile__codes__item--featured': code_active == c.code
                }"
                v-for="c in codes"
                @click="changeCode(c)"
              >
                <div>
                  <p
                    class="profile__codes__item__code"
                    :class="{
                      'profile__codes__item__code--limit': c.is_date_limit
                    }"
                  >
                    {{ c.code }}
                  </p>
                  <p
                    class="profile__codes__item__date_limit"
                    :class="{
                      'profile__codes__item__date_limit--limit': c.is_date_limit
                    }"
                  >
                    Fecha vencimiento:
                    <span v-if="c.date_limit">{{ c.date_limit }}</span>
                    <span v-else>---</span>
                  </p>
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline"
                  v-if="!c.is_date_limit || c.code == code_active"
                >
                  <input
                    type="radio"
                    :id="c.code"
                    :checked="code_active == c.code"
                    :name="c.code"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" :for="c.code"></label>
                </div>
              </li>
            </ul>
            <p
              v-if="err_code_change.length > 0"
              v-for="er in err_code_change"
              class="err mt-2"
            >
              {{ er }}
            </p>
            <ButtonLoading
              @click.native="setClientCode()"
              :loading="load_code_change"
              class="btn btn-outline-dark btn-block mt-2"
              >Cambiar de Código</ButtonLoading
            >
          </div>
          <p v-else>Aún no tiene código registrado</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ButtonLoading from '@/components/base/ButtonLoading'
import errorDJ from '@/mixins/errorDJ'
export default {
  name: 'ProfileCode',
  components: {
    ButtonLoading
  },
  mixins: [errorDJ],
  data() {
    return {
      codes: [],
      code: '',
      load_code: false,
      code_active: '',
      load_code_change: false,
      success_code: false,
      err_code_change: []
    }
  },
  created() {
    this.getCodes()
  },
  methods: {
    changeCode(c) {
      if (!c.is_date_limit) {
        this.code_active = c.code
      }
    },
    setClientCode() {
      const self = this
      self.load_code_change = true
      self.success_code = false
      self.$axios
        .put('/account/code/' + self.code_active + '/change/', {})
        .then(function(response) {
          console.log(response.data)
          self.success_code = true
        })
        .catch(function(error) {
          self.load_code_change = false
          self.success_code = false
          self.err_code_change = error.response.data.code
        })
        .finally(function() {
          self.load_code_change = false

          // always executed
        })
    },
    addCode() {
      const self = this
      self.load_code = true
      self.$axios
        .post('/account/code/add/', {
          code: self.code
        })
        .then(function(response) {
          // handle success
          self.load_code = false
          self.code = ''
          self.codes.unshift(response.data)
        })
        .catch(function(error) {
          // handle error
          console.log(error)
          self.load_code = false
          self.errorsDj = error.response.data
        })
        .finally(function() {
          // always executed
        })
    },
    getCodes() {
      const self = this
      self.$axios
        .get('/account/code/')
        .then(function(response) {
          // handle success
          self.codes = response.data
          const codes_featured = self.codes.filter((ele) => {
            return ele.is_featured
          })
          if (codes_featured.length > 0) {
            self.code_active = codes_featured[0].code
          }
        })
        .catch(function(error) {
          // handle error
          console.log(error)
        })
        .finally(function() {
          // always executed
        })
    }
  }
}
</script>
