<template>
  <div class="card profile__card-info">
    <div class="card-body">
      <div class="profile__info">
        <div class="profile__info__icon_edit" @click.prevent="setEdit()">
          <span>Editar</span>
          <font-awesome-icon :icon="['fas', 'pencil-alt']" class />
        </div>
        <h2 class="profile__info__name">{{fullName}}</h2>
        <p class="profile__info__base">
          Docuemnto de Identidad:
          <strong>{{num_document}}</strong>
        </p>

        <p class="profile__info__base">
          Email:
          <strong>{{email}}</strong>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ProfileRead',
  data() {
    return {
      num_document: '',
      first_name: '',
      last_name: '',
      email: ''
    }
  },
  created() {
    this.num_document = this.$cookies.get('num_document')
    this.first_name = this.$cookies.get('first_name')
    this.last_name = this.$cookies.get('last_name')
    this.email = this.$cookies.get('email')
  },
  computed: {
    fullName() {
      return `${this.first_name} ${this.last_name}`
    }
  },
  methods: {
    setEdit() {
      this.$emit('isEdit')
    }
  }
}
</script>
