<template>
  <div class>
    <div class="card profile__card-info">
      <div class="card-header card-header-w">Historial de pedido por validar</div>
      <div class="card-body">
        <ProfileProductCard :code="code" :key="code.id" v-for="code in codes_pre_validates" />
      </div>
    </div>
    <div class="card profile__card-info">
      <div class="card-header card-header-w">Historial de pedido validados</div>
      <div class="card-body">
        <ProfileProductCard :code="code" :key="code.id" v-for="code in codes_validates" />
      </div>
    </div>
  </div>
</template>
<script>
import ProfileProductCard from './ProfileProductCard'
export default {
  name: 'ProfilePDF',
  components: {
    ProfileProductCard
  },
  data() {
    return {
      codes_pre_validates: [],
      codes_validates: []
    }
  },
  created() {
    this.getCodes()
  },
  methods: {
    getCodes() {
      const self = this
      self.$axios
        .get('/account/deals/', {})
        .then(function(response) {
          ;(self.codes_pre_validates = response.data.pre_validates),
            (self.codes_validates = response.data.validates)
        })
        .catch(function(error) {})
    }
  }
}
</script>
