<template>
  <div class="product">
    <nuxt-link :to="{name: 'c-slug', params:{slug: category.slug}}">
      <div class="product__image">
        <img :src="category.banner_home_url" width="360" height="300" />
      </div>
      <div class="product__category_name">
        <img :src="category.image_url" width="40" height />
        <h3>{{category.name}}</h3>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'CategoryItem',
  props: ['category'],
  computed: {
    baseUrlMedia() {
      return this.$store.getters['BaseUrlMedia']
    }
  }
}
</script>
