<template>
  <div class="products_carrousel">
    <div class="products_carrousel__item" v-for="category in categories">
      <div class="container">
        <div class="products_carrousel__header">
          <div class="products_carrousel__header__title">
            <img :src="category.image_url" width="40" height />
            <h3>{{category.name}}</h3>
          </div>
          <nuxt-link
            :to="{name: 'c-slug', params:{slug: category.slug}}"
            class="products_carrousel__see_more"
            v-if="category.category_products.length > 4"
          >
            <span>Ver más</span>
            <font-awesome-icon :icon="['fas', 'long-arrow-alt-right']" class />
          </nuxt-link>
        </div>
      </div>
      <div class="container">
        <client-only>
          <vue-tiny-slider class="products_carrousel__container" v-bind="tinySliderOptions">
            <ProductItem
              :product="pr"
              v-for="(pr, index) in category.category_products"
              :key="`${category.id}-${pr.id}-${index}`"
            />
          </vue-tiny-slider>
          <ProductListItemPlaceholder slot="placeholder" />
        </client-only>
      </div>
    </div>
  </div>
</template>
<script>
import ProductItem from '@/components/product/ProductItem'
import ProductListItemPlaceholder from '@/components/placeholder/ProductListItemPlaceholder'
export default {
  name: 'CategoryProductsCarrousel',
  props: ['categories'],
  components: {
    ProductItem,
    ProductListItemPlaceholder
  },
  created() {
    let img_prev = require('@/assets/images/flechaizquierda.png')
    this.tinySliderOptions.controlsText[0] = `<img src=${img_prev} />`
    let img_next = require('@/assets/images/flechaderecha.png')
    this.tinySliderOptions.controlsText[1] = `<img src=${img_next} />`
  },
  data() {
    return {
      tinySliderOptions: {
        controls: true,
        mouseDrag: true,
        autoHeight: true,
        nav: false,
        navPosition: '',
        speed: 800,
        autoplayTimeout: 5000,
        autoplay: false,
        autoplayText: ['', ''],
        // autoplayButtonOutput: false,
        navPosition: 'bottom',
        swipeAngle: false,
        items: 1,
        loop: false,
        gutter: 0,
        center: true,
        controlsText: ['', ''],
        responsive: {
          360: {
            gutter: 20,
            items: 2
          },
          650: {
            items: 3
          },
          960: {
            items: 4,
            gutter: 30
          }
        }
      }
    }
  }
}
</script>
