.section_category{
    &__title{
        display: flex;
        margin-top: 35px;
        align-items: center;
        justify-content: center;
        h2{
            font-family: $font_bold;
            font-size: 30px;
        }
        img{
            margin-right: 15px;
        }
    }
}