.discount {
  margin-top: 30px;
  &__header {
    display: flex;
  }
  &__filters {
  }

  &__btn_category {
    display: flex;
    margin-left: 5px;
    img {
      margin-right: 5px;
    }
  }
  &__category {
    position: relative;
    margin-right: 10px;
  }
  &__category_list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 100;
    &__item {
      display: flex;
      align-items: center;
      cursor: pointer;
      background: rgba($color_orange, 0.8);
      padding: 8px 5px;
      color: $color_white;
      border-bottom: 1px solid $color_orange;
      transition: 0.3s ease all;
      img {
        margin-right: 4px;
      }
      input {
        display: none;
      }
      &:hover {
        background: rgba($color_orange, 0.9);
      }
    }
  }
}
.discount_detail {
  margin-bottom: 40px;
  &__btn_download {
    width: 200px;
    margin: auto;
    display: block;
    text-align: center;
    font-family: $font_bold;
  }
  &__content {
    max-width: 650px;
    margin: auto;
    padding: 0 5px;
    &--company {
      position: absolute;
      z-index: 10;
      bottom: 10px;
      left: 0;
      right: 0;
    }
  }
  &__content_banner {
    position: relative;
  }
  &__banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-image: url('../images/degrade-min.png');
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
    }
  }
  &__image_company {
    margin: auto;
    margin-top: 40px;
    border-radius: 6px;
    color: $color_white;
  }
  &__company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &__name {
      color: $color_white;
      width: calc(100% - 135px);
      font-size: 32px;
      font-family: $font_bold;
    }
    &__locals {
      color: $color_white;
      margin-left: 10px;
      border: 1px solid $color_white;
      padding: 7px 12px;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 128px;
      transition: 0.3s ease all;
      i {
        font-size: 12px;
      }
      img {
        // margin-right: 7px;
      }
      span {
        font-size: 15px;
        width: 100%;
        text-align: center;
      }

      &:hover {
        border: 1px solid $color_black;
        background: $color_black;
        color: $color_white;
      }
    }
  }
  &__image {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $color_black;
  }
  &__text {
    font-size: 16px;
    color: $color_gray;
  }
  &__body {
    margin-top: 20px;
    display: flex;
    &__left {
      width: 380px;
      background: $color_white;
      border-radius: 6px;
      padding: 20px;
      border: 1px solid $color_border_btn;
    }
    &__locales {
      ul {
        margin: 0;
        padding: 0;
        margin-top: 15px;
        li {
          margin: 0;
          padding: 0;
          h4 {
            color: $color_black;
            font-size: 17px;
          }
          p {
            margin-top: 8px;
          }
        }
      }
    }
    &__terms {
      background: $color_white;
      border-radius: 6px;
      padding: 20px;
      border: 1px solid $color_border_btn;
      &__text {
        font-size: 16px;

        margin-top: 10px;
        p,
        span,
        strong {
          color: $color_gray !important;
        }
      }
    }
    &__right {
      width: calc(100% - 400px);
      margin-left: 20px;
    }
  }
  &__header {
    display: flex;
    margin-top: 30px;
    background: $color_white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    &__content {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      width: calc(100% - 380px);
      box-sizing: border-box;
      border: 1px solid $color_border_btn;
      padding: 20px;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__name {
      margin-left: 20px;
    }
    &__company_image {
      border-radius: 6px;
      border: 1px solid $color_border_btn;
    }
    &__reserve {
      width: auto;
      margin: 0;
    }
    &__company {
      font-size: 21px;
      font-weight: bold;
    }
    &__description {
      font-size: 16px;
      color: $color_gray;
    }
    &__title {
      margin-bottom: 15px;
      display: flex;
    }
    &__top {
      width: 100%;
    }
  }
  &__btn_locales {
    display: block;
    width: 120px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
  }
  &__name_company {
    margin-top: 10px;
  }
  &__img_funciona {
    max-width: 450px;
    margin: auto;
    margin-top: 25px;
  }
  &__name {
    margin-top: 45px;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: $font_bold;
  }
  &__terms {
    margin-top: 25px;
    &__title {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: $font_bold;
    }
    &__content {
      text-align: justify;
      ul {
        padding-left: 20px;
      }
      ul li {
        margin-bottom: 8px;
        list-style-type: disc;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .discount_detail {
    &__name {
      font-size: 18px;
    }
    &__terms__title {
      font-size: 18px;
    }
    &__banner {
      height: 220px;
    }
    &__company__name {
      font-size: 24px;
    }
  }
}
