.landing{
    padding-top:  40px;
    &__container{
        display: flex;
        padding-bottom: 40px;
    }
    &__thanks{
        max-width: 550px;
        margin: auto;
        margin-top: 60px;
        &__logo{
            display: inline-block;
            margin: 15px 0;
        }
        a{
            display: block;
            width: 100px;
            margin:auto;
            text-align: center;
            margin-top: 20px;
        }
    }
    &__block-left{
        width: 60%;
        margin-top: 100px;
        &__title{
            color: $color_white;
            font-size: 50px;
        }
        &__text{
            color: $color_white;
            font-size: 20px;
        }
    }
    &__block-right{
        width: 40%;
        &__text{
            color: $color_white;
            margin: 20px 0;
            font-size: 20px;
        }
    }
    &__form{
        &__checkbox{
            margin:25px 0;
            text-align: center;
        }
    }
}
@media only screen and (max-width: 960px) {
    .landing{
        &__container{
            flex-direction: column;
        }
        &__block-left{
            margin-top: 0px;
            width: 100%;

        }
        &__block-right{
            width: 100%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .landing{

        &__block-left{
            &__title{
                font-size: 42px;
            }

        }
    }
}
@media only screen and (max-width: 480px) {
    .landing{

        &__block-left{
            &__title{
                font-size: 28px;
            }

        }
    }
}