.login{

    width: 100%;
    background: $bg_register;
    position: relative;
    &__container{
        display: flex;
    }
    &__banner{
        display: block;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }
    &__form{
        margin-top: 30px;
        &__content{
        }
        &__input{
            margin-bottom: 10px;
            a{
                color: $color_text;
                text-decoration: underline;
            }
        }
        &__btn{
            display: flex;
            align-items:center;
            padding: 8px 35px;
            margin-top: 20px;
            i{
                display: block;
                margin-left: 8px;
            }
        }
    }
    &__content{
        max-width: 600px;
        padding: 20px 0;
        &__title{
            color: $color_text;
            font-size: 14px;
            font-weight: bold;
        }
    }
    &__left{
        width: calc(50% + 280px);
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        min-height: calc(100vh - 252px);
    }
    &__right{
        min-height: calc(100vh - 229px);
        width: 320px;
        height: 100%;
        margin-left: calc(50% + 280px);
        background: $bg_register;
        display: flex;
        padding-left: 30px;
        padding-top: 40px;
        // align-items: center;
    }
}
@media screen and (max-width: 1024px) {
    .login{
       &__left{
            width: calc(50% + 80px);
       }
       &__right{
            width: 500px;
            margin-left: calc(50% + 80px);
       }
    }
}
@media screen and (max-width: 960px) {
    .login{
        &__content{

        }
    }
}
@media screen and (max-width: 768px) {
    .login{
        &__content{
            max-width: 100%;
            width: 100%;
        }
        &__left{
            display: none;
        }
        &__right{
            width: 100%;
            margin: 0;
            margin-top: 20px;
            padding: 0;

        }
    }
}
@media screen and (max-width: 480px) {
    .login{
        &__content{
            &__title{
                font-size: 20px;
            }
        }
    }
}