.pages{
    padding: 40px 50px;
    box-sizing: border-box;
    &__container{
        padding: 30px 50px;
        background: $color_white;
        font-family: $font_regular;
        p, li, strong, h1, h2, h3, h4, h5, h6 {
            font-family: $font_regular;

        }
        p{
            margin-bottom: 10px;
        }
    }
    &__title{
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    &__subtitle{
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: 600;
    }
    &__text{
        font-size: 16px;
    }

    ul{
        margin: 0;
        padding: 0;
        padding-left: 40px;
        li{
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            list-style-type: disc;
        }
    }
}
.apply_for{
    margin-top: 100px;
    p{
        margin-bottom: 10px;
    }
    a{
        display: inline-block;
        margin-top: 10px;
    }
}