.page_profile{
    padding-top: 40px;
    padding-bottom: 20px;
    background: $bg_register;
    min-height: calc(100vh - 77px);
    &__participated{
        margin-top: 50px;
        &__items{
            margin-top: 30px;
        }
        &__item{
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $color_border_btn;
            background: $color_white;
            padding: 20px 20px;
        }
    }
    &__my_cards{
        margin-top: 60px;
        &__title{
            font-size: 22px;
            font-weight: bold;
        }
        &__list{
            margin-top: 20px;
            margin-left: -10px;
            margin-right: -10px;
            display: flex;
            flex-wrap: wrap;
            &__item{
                background: $color_white;
                margin: 10px;
            }
        }
    }
    &__won{
        margin-top: 60px;
        &__title{
            font-size: 22px;
            font-weight: bold;
        }
        &__items{
            margin-top: 20px;
        }
        &__item{
            border: 1px solid $color_border_btn;
            margin-bottom: 10px;
            border-radius: 4px;
            display: flex;
            &__info{
                background: $color_white;
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__header{
                    &__title{

                    }
                }
                &__footer{
                    &__bot{
                        margin-top: 3px;
                        display: flex;
                        justify-content: space-between;
                    }
                    &__status{
                        font-size: 15px;
                        margin-top: 5px;
                    }
                    &__date{
                        font-size: 15px;
                        color: $color_grey;
                    }
                }
                &__play{
                    font-size: 14px;
                    color: $color_border_btn;
                    strong{
                        color: $color_black;
                    }
                }
                &__winner{
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    &__num{
                        text-align: center;
                        background: $color_main;
                        color: $color_white;
                        padding: 12px 10px;
                        margin-left: 8px;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                }
                &__name{
                    font-size: 23px;
                    margin-bottom: 3px;
                }
            }
        }
    }
    &__header{
        padding: 20px;
        background: $color_white;
        border-radius: 4px;
        border: 1px solid $color_border_btn;
        display: flex;
        align-items: center;
        &--info{
            justify-content: space-between;
        }
        &__edit_link{
           margin-left: 10px;
           color: $color_black;
           text-decoration: underline;
        }
        &__name{
            font-weight: bold;
            margin-left: 10px;
        }
        &__left{
            display: flex;
            align-items: center;
        }
        img{
            border-radius: 50%;
        }
        &__right{
            display: flex;
        }
        &__balance{
            margin-right: 30px;
            &__text{
                font-size: 12px;
            }
            &__title{
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    &__form{
        text-align: center;
        &__btn{
            margin-top: 30px;
            padding: 12px 45px;
            font-size: 20px;
        }
        &__content_block{
            display: flex;
            margin: 20px -15px 0px -15px;

        }
        &__section{
            margin-top: 45px;
        }
        &__block{
            padding: 0 15px;
            width: 50%;
            &__title{
                text-align: left;
                margin: 10px 0;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .page_profile{
        &__form{
            &__block{
                width: 100%;
            }
            &__content_block{
                flex-wrap: wrap;
            }
        }
    }
}
@media screen and (max-width: 650px){
    .page_profile{
        &__won{
            &__item {
                // flex-direction: column;
                &__info{
                    padding: 10px;
                }
                &__info__footer__bot{
                    flex-direction: column;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .page_profile{
        &__won{
            &__item {
                flex-direction: column;
                img{
                    width: 100%;
                    height: auto;
                }
                &__info__play{
                    width: 100%;
                }
            }
        }
        &__participated{
            &__item{
                flex-direction: column;
                &__top{
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
        }
    }
}