.process{
    &__banner{
        img{

        }
    }
    &__title{
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        &__item{
            margin: 0 30px;
            width: 28%;
            img{
                width: 250px;
                margin: auto;
                margin-bottom: 20px;
            }
            h3{
                font-size: 24px;
                margin-bottom: 15px;
                text-align: center;
                font-weight: 700;
            }
            p{
                font-size: 16px;
                margin-bottom: 20px;
                text-align: center;
            }

        }
    }
}