@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.woff') format('woff'),
             url('../fonts/ProximaNova-Light.ttf') format('truetype'),
             url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
             url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
             url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
             url('../fonts/ProximaNova-Semibold.woff') format('woff'),
             url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
             url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
             url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
             url('../fonts/ProximaNova-Bold.woff') format('woff'),
             url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
             url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
             url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AkkuratLightRegular';
    src: url('../fonts/AkkuratLightRegular.eot');
    src: url('../fonts/AkkuratLightRegular.eot') format('embedded-opentype'),
         url('../fonts/AkkuratLightRegular.woff2') format('woff2'),
         url('../fonts/AkkuratLightRegular.woff') format('woff'),
         url('../fonts/AkkuratLightRegular.ttf') format('truetype'),
         url('../fonts/AkkuratLightRegular.svg#AkkuratLightRegular') format('svg');
}
@font-face {
    font-family: 'AkkuratRegular';
    src: url('../fonts/AkkuratRegular.eot');
    src: url('../fonts/AkkuratRegular.eot') format('embedded-opentype'),
         url('../fonts/AkkuratRegular.woff2') format('woff2'),
         url('../fonts/AkkuratRegular.woff') format('woff'),
         url('../fonts/AkkuratRegular.ttf') format('truetype'),
         url('../fonts/AkkuratRegular.svg#AkkuratRegular') format('svg');
}
@font-face {
    font-family: 'AkkuratBold';
    src: url('../fonts/AkkuratBold.eot');
    src: url('../fonts/AkkuratBold.eot') format('embedded-opentype'),
         url('../fonts/AkkuratBold.woff2') format('woff2'),
         url('../fonts/AkkuratBold.woff') format('woff'),
         url('../fonts/AkkuratBold.ttf') format('truetype'),
         url('../fonts/AkkuratBold.svg#AkkuratBold') format('svg');
}