$color_main: #cf2250;
$color_white: #fff;
$color_black: #000;
$color_btn: #d8d8d8;
$color_border_btn: #9b9b9b;
$color_green: #ed6f2f;
$color_black: #000;
$color_red: #ff4058;
$font_regular: 'AkkuratLightRegular';
$font_bold: 'AkkuratBold';
$color_facebook: #4267b2;
$bg_register: #f2f2f2;
$color_grey: #a0a0a0;
$color_gray: #4a4a4a;
$color_gray_select: #ece9e9;
$color_blue: #2b245b;
$color_orange: #ed6e05;
$color_text: #636363;
