<template>
  <div id="contact" class="container">
    <h2 class="title">Contáctanos</h2>
    <form method="POST" action @submit.prevent="formPost" v-if="showForm">
      <div class="form-group" v-for="dynamic in form.form_dynamic_groups" :key="dynamic.id">
        <label for="email" class="semi-bold">{{dynamic.form_dynamic_attr.name_store}}</label>
        <input
          type="email"
          class="form-control"
          :id="dynamic.form_dynamic_attr.slug"
          :required="dynamic.is_required"
          v-model="formData[dynamic.form_dynamic_attr.slug]"
          v-if="dynamic.form_dynamic_attr.type_attr == 'EMAIL'"
        />
        <input
          type="text"
          class="form-control"
          :id="dynamic.form_dynamic_attr.slug"
          :required="dynamic.is_required"
          v-model="formData[dynamic.form_dynamic_attr.slug]"
          v-else-if="dynamic.form_dynamic_attr.type_attr == 'TEXT'"
        />
        <textarea
          placeholder="Coloca tu mensaje aquí!"
          :id="dynamic.form_dynamic_attr.slug"
          :required="dynamic.is_required"
          class="form-control"
          v-model="formData[dynamic.form_dynamic_attr.slug]"
          v-else-if="dynamic.form_dynamic_attr.type_attr == 'AREA'"
        ></textarea>
      </div>
      <ButtonLoading class="btn btn-main" :loading="loading">Enviar</ButtonLoading>
    </form>
    <div v-else class="thanks">
      <h2 class="send">Gracias por escribir, en breve nos pondremos en contacto.</h2>
      <a href class="btn btn-main" @click.prevent="sendOtherMessage">Enviar otro mensaje</a>
    </div>
  </div>
</template>
<script>
import ButtonLoading from '@/components/base/ButtonLoading'
export default {
  name: 'FormAttr',
  components: {
    ButtonLoading
  },
  data() {
    return {
      formCode: 'FCONTACT',
      form: {
        form_dynamic_groups: []
      },
      inputs: ['TEXT', 'EMAIL'],
      loading: false,
      formData: {},
      showForm: true
    }
  },
  created() {
    this.getForm()
  },
  methods: {
    getForm() {
      const self = this
      self.$axios
        .get('/forms/' + self.formCode + '/', {})
        .then((response) => {
          self.form = response.data
        })
        .catch((error) => {
          console.log(error)
        })
    },
    formPost() {
      const self = this
      self.loading = true
      self.$axios
        .post('/forms/' + self.formCode + '/contact/', self.formData)
        .then((response) => {
          self.loading = false
          self.showForm = false
        })
        .catch((error) => {})
    },
    setModelData(dyanmic) {
      if (!this.formData[dynamic.form_dynamic_attr.slug]) {
        this.$set(this.formData, dynamic.form_dynamic_attr.slug, '')
      }
      return dya
    },
    sendOtherMessage() {
      this.showForm = true
      this.formData = {}
    }
  }
}
</script>
