<template>
  <transition name="component-fade" mode="out-in">
    <component v-bind:is="view" @changeView="changeView"></component>
  </transition>
</template>
<script>
import LoginDocument from '@/components/home/LoginDocument'
import LoginCode from '@/components/home/LoginCode'
import LoginCreateAccount from '@/components/home/LoginCreateAccount'
export default {
  name: 'Login',
  components: {
    LoginDocument,
    LoginCode,
    LoginCreateAccount
  },
  data() {
    return {
      view: 'LoginDocument'
    }
  },
  methods: {
    changeView(view) {
      this.view = view
    }
  }
}
</script>
<style>
.btn-main-next {
  margin-top: 10px;
}
</style>
