<template>
  <form
    method="POST"
    action
    id="login-form"
    class="login-container"
    @submit.prevent="login"
  >
    <span></span>
    <h4>Ingresa tu documento de identidad</h4>
    <input
      type="text"
      v-model="num_document"
      maxlength="100"
      required="required"
      placeholder="Nro de documento"
    />
    <button class="btn btn-main btn-main-next">
      Siguiente
      <font-awesome-icon
        :icon="['fas', 'arrow-right']"
        class="header__menu__icon"
      />
    </button>

    <p class="form__input__error"></p>
  </form>
</template>
<script>
import { setTokenData } from '@/utils/auth'
export default {
  data() {
    return {
      num_document: ''
    }
  },
  methods: {
    changeView() {
      this.$emit('changeView', 'LoginCode')
    },
    login() {
      const self = this
      const num_document = this.num_document
      self.$axios
        .$post('/login/', {
          num_document: num_document
        })
        .then((response) => {
          console.log(response, 'response.data.token')
          let token = response.token
          let fullName = `${response.user.first_name} ${response.user.last_name}`
          setTokenData(token, response.user)
          self.$store.dispatch('auth/setAuth', token)
          self.$store.dispatch('auth/setFullName', fullName)
          self.$axios.setToken(token, 'JWT')
          self.$router.push({ name: 'index' })
        })
        .catch((response_error) => {
          self.$cookies.set('account_num_document', self.num_document)
          self.$emit('changeView', 'LoginCode')
        })
    }
  }
}
</script>
