<template>
  <form
    method="POST"
    action
    id="login-form"
    class="login-container"
    @submit.prevent="loginCreateAccount"
  >
    <span></span>
    <h4>COMPLETA EL SIGUIENTE FORMULARIO</h4>

    <input
      type="text"
      name="email"
      required="required"
      id="id_num_document"
      maxlength="100"
      placeholder="Email"
      v-model="account.email"
    />
    <input
      type="text"
      name="name"
      required="required"
      id="id_num_document"
      maxlength="100"
      placeholder="Nombres"
      v-model="account.first_name"
    />
    <input
      type="text"
      name="last_name"
      required="required"
      id="id_num_document"
      maxlength="100"
      placeholder="Apellidos"
      v-model="account.last_name"
    />
    <div class>
      <b-form-checkbox
        id="checkbox-1"
        name="checkbox-1"
        value="accepted"
        class="custom-checkbox-success"
        required="required"
      >
        Acepto los
        <a href>términos y condiciones</a>
      </b-form-checkbox>
    </div>
    <p class="err" v-if="errors" v-for="err in errors['code']">{{ err }}</p>
    <button class="btn btn-main btn-main-next">
      Continuar
      <font-awesome-icon
        :icon="['fas', 'arrow-right']"
        class="header__menu__icon"
      />
    </button>
    <a class="link__back" href @click.prevent="backChangeView()">< Atras</a>
  </form>
</template>
<script>
import { setTokenData } from '@/utils/auth'
export default {
  data() {
    return {
      account: {
        first_name: '',
        last_name: '',
        email: '',
        code: '',
        num_document: ''
      },
      errors: {}
    }
  },
  mounted() {
    this.account.num_document = this.$cookies.get('account_num_document')
    this.account.code = this.$cookies.get('account_code')
  },
  methods: {
    changeView() {
      this.$emit('changeView', 'LoginCode')
    },
    backChangeView() {
      this.$emit('changeView', 'LoginCode')
    },
    loginCreateAccount() {
      const self = this
      self.$axios
        .$post('/login/create-account/', self.account)
        .then((response) => {
          let token = response.token
          setTokenData(token, response.user)
          self.$store.dispatch('auth/setAuth', token)
          self.$axios.setToken(token, 'JWT')
          self.$router.push({ name: 'index' })
        })
        .catch((response_error) => {})
    }
  }
}
</script>
