<template>
  <form
    method="POST"
    action
    id="login-form"
    class="login-container"
    @submit.prevent="login"
  >
    <span></span>
    <h4>INGRESAR TU CÓDIGO DE REGALO</h4>
    <input
      type="text"
      v-model="code"
      maxlength="100"
      required="required"
      placeholder="Código"
    />
    <p class="form__error" v-if="errors" v-for="err in errors['code']">
      {{ err }}
    </p>
    <button class="btn btn-main btn-main-next">
      Siguiente
      <font-awesome-icon
        :icon="['fas', 'arrow-right']"
        class="header__menu__icon"
      />
    </button>
    <a class="link__back" href @click.prevent="backChangeView()">< Atras</a>
  </form>
</template>
<script>
export default {
  data() {
    return {
      code: '',
      errors: []
    }
  },
  methods: {
    changeView() {
      this.$emit('changeView', 'LoginCreateAccount')
    },
    backChangeView() {
      this.$emit('changeView', 'LoginDocument')
    },
    login() {
      var self = this
      this.$axios
        .$post('/login/access-code/', {
          code: self.code
        })
        .then((response) => {
          self.$cookies.set('account_code', self.code)
          self.$emit('changeView', 'LoginCreateAccount')
        })
        .catch((error) => {
          self.errors = error.response.data
        })
    }
  }
}
</script>
