<template>
  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__left">
        <ul class="footer__left__ul">
          <li>
            <a class="footer__link" href></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'FooterMenu'
}
</script>
