<template>
  <header class="header">
    <b-navbar toggleable="md">
      <div class="container">
        <nuxt-link :to="{ name: 'index' }">
          <img
            height="50"
            src="https://weeare-api.weeare.pe/static/weeare/img/weearelogo.png"
            class="header__logo"
          />
        </nuxt-link>
      </div>
    </b-navbar>
  </header>
</template>
<script>
import { authLogout } from '@/utils/auth'
export default {
  name: 'HeaderMenu',
  data() {
    return {}
  }
}
</script>
