<template>
  <header class="header">
    <b-navbar toggleable="md">
      <div class="container">
        <nuxt-link :to="{ name: 'index' }">
          <img
            height="50"
            src="~assets/images/logo.png"
            class="header__logo"
          />
        </nuxt-link>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <!-- <form action>
          <select name class="form-control" id>
            <option value>Lima</option>
            <option value>Trujillo</option>
          </select>
        </form>-->
        <b-collapse class="header__menu" id="nav-collapse" is-nav right>
          <b-navbar-nav class="header__menu__ul">
            <li class="nav-item">
              <nuxt-link
                :to="{ name: 'index' }"
                class="header__menu__link header__menu__link--logout"
              >
                <span>Inicio</span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link
                :to="{ name: 'perfil' }"
                class="header__menu__link header__menu__link--logout"
              >
                <span>Agregar Código</span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link
                :to="{ name: 'perfil' }"
                class="header__menu__link header__menu__link--logout"
              >
                <font-awesome-icon
                  :icon="['fas', 'user-alt']"
                  class="header__menu__icon"
                />
                <span>&nbsp;{{ fullName }}</span>
              </nuxt-link>
            </li>
            <li class="nav-item">
              <a
                href
                class="header__menu__link header__menu__link--logout"
                @click.prevent="logout"
              >
                <font-awesome-icon
                  :icon="['fas', 'sign-out-alt']"
                  class="header__menu__icon"
                />
                <span>Salir</span>
              </a>
            </li>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </header>
</template>
<script>
import { authLogout } from '@/utils/auth'
export default {
  name: 'HeaderMenu',
  data() {
    return {}
  },
  computed: {
    fullName() {
      return this.$store.getters['auth/getFullName']
    }
  },
  methods: {
    logout() {
      authLogout()
      this.$store.dispatch('auth/setAuth', null)
      this.$router.push({ name: 'ingresar' })
    }
  }
}
</script>
