<template>
  <div class="product product--four">
    <div>
      <div class="product__image"></div>
      <div class="product__description_block">
        <h3 class="product__description_block__company">adsadsad</h3>
        <p class="product__description_block__name">dsads</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'ProductItemPlaceholder',
  methods: {}
}
</script>
