<template>
  <div class="content_page">
    <section class="discount_detail">
      <div class="discount_detail__content_banner">
        <div
          class="discount_detail__banner"
          :style="{ backgroundImage: 'url(' + product.image_url + ')' }"
        ></div>
        <div class="container discount_detail__content discount_detail__content--company">
          <div class="discount_detail__company">
            <h3 class="discount_detail__company__name">{{ product.company_service.business_name }}</h3>
            <a
              :href="product.company_service.url"
              class="discount_detail__company__locals"
              v-if="product.company_service.url"
            >
              <img src="~assets/images/Link.png" width="15" />

              <span>Ver Web</span>
            </a>
            <nuxt-link
              :to="{ name: 'p-slug-mapa', params: { slug: product.slug } }"
              class="discount_detail__company__locals"
              v-else
            >
              <img src="~assets/images/mapicon.png" width="15" />
              <span>Ver Locales</span>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="container discount_detail__content">
        <div class="discount_detail__terms">
          <h4 class="discount_detail__terms__title text-center">¿Qué incluye?</h4>
          <div
            class="discount_detail__terms__content"
            v-html="product.product_product_variants[0].description"
          ></div>
          <div class>
            <div class v-if="product.text_button">
              <div v-if="product.url_button || product.product_product_variants[0].file">
                <a
                  target="_blank"
                  :href="product.url_button"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                  v-if="product.url_button"
                >{{ product.text_button }}</a>
                <a
                  v-else
                  target="_blank"
                  :href="product.product_product_variants[0].file"
                  download="file"
                  class="btn btn--full-dark discount_detail__btn_download mt-10"
                >{{ product.text_button }}</a>
              </div>
            </div>
            <div v-if="product.data_extra.marcadores">
              <table class="mt-10">
                <tr v-for="marc in product.data_extra.marcadores">
                  <td>{{ marc.col_1 }}</td>
                  <td>{{ marc.col_2 }}</td>
                </tr>
              </table>
            </div>
            <ProductCode v-if="product.has_code_pdf" :text_pdf="product.data_extra.pdf_text" />
          </div>
          <!-- <div class="discount_detail__terms__content">{{product.data_extra}}</div> -->
          <h4 class="discount_detail__terms__title text-center">Términos y condiciones</h4>
          <div class="discount_detail__terms__content" v-html="product.terms_conditions"></div>
          <h4 class="discount_detail__terms__title text-center">¿Cómo funciona?</h4>
          <img
            class="img-responsive discount_detail__img_funciona"
            src="~assets/images/comofunciona.png"
          />
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import ProductCode from '@/components/product/ProductCode'
export default {
  name: 'Product',
  middleware: 'authenticated',
  components: {
    ProductCode
  },
  head() {
    return {
      title: `Weeare | ${this.product.title}`,
      meta_description: this.product.meta_description,
      meta: [
        { hid: 'og-title', property: 'og:title', content: this.product.title },
        {
          hid: 'description',
          name: 'description',
          content: this.product.meta_description
        }
        // other meta
      ]
    }
  },
  async asyncData({ app, params, error }) {
    console.log(params, params.slug)
    try {
      const product = await app.$axios.$get(`/products/${params.slug}/`)
      return { product: product }
    } catch (e) {
      error({
        message: 'Descuento no encontrado',
        statusCode: 405,
        type: 'page'
      })
    }
  }
}
</script>
