<template>
  <div class="content_page">
    <section class="content_map">
      <div class="content_map__close" :class="{'content_map__close--active': isActiveCloseMap}">
        <font-awesome-icon far icon="times" />
      </div>
      <div class="content_map__locals">
        <div
          class="content_map__local"
          v-for="lcl in locals"
          :key="lcl.id"
          @click="setPosition(lcl)"
        >
          <div class="content_map__local__content">
            <h3 class="content_map__local__title">{{lcl.name}}</h3>
            <p class="content_map__local__text">{{lcl.address}}</p>
          </div>
          <font-awesome-icon far icon="map-marker-alt" class="content_map__local__icon" />
        </div>
      </div>
      <div
        class="content_map__map"
        :class="{'content_map__map--active': isActiveMap}"
        id="googleMap"
        ref="googleMap"
      ></div>
    </section>
  </div>
</template>
<script>
import GoogleMapsApiLoader from 'google-maps-api-loader'
export default {
  name: 'Map',
  middleware: 'authenticated',
  head: {
    bodyAttrs: {
      class: 'page-map'
    }
  },
  data() {
    return {
      google: '',
      apiKey: 'AIzaSyB5DL01NBW5soEOebM8PeJATWi1WLYcgc4',
      map: '',
      location: {
        lat: '',
        lng: ''
      },
      isActiveMap: false,
      isActiveCloseMap: false
    }
  },
  async asyncData({ app, params, error }) {
    try {
      const locals = await app.$axios.$get(`/products/${params.slug}/locals/`)
      return { locals: locals }
    } catch (e) {
      error({ message: 'Product not found', statusCode: 404 })
    }
  },
  mounted() {
    var self = this
    GoogleMapsApiLoader({
      apiKey: self.apiKey, // optional,
      version: 3
    }).then(
      function(googleApi) {
        self.google = googleApi
        self.renderMap()
      },
      function(err) {}
    )
  },
  methods: {
    renderMap() {
      var self = this
      const element = this.$refs.googleMap
      console.log(element)
      this.map = new this.google.maps.Map(element, {
        zoom: 13,
        center: {
          lat: this.locals[0].lat,
          lng: this.locals[0].lng
        },
        mapTypeControl: false
      })
      self.map.setZoom(16)
      self.createMaker()
    },
    createMaker(lat, lng) {
      const self = this
      for (var i = self.locals.length - 1; i >= 0; i--) {
        var marker_modal = new self.google.maps.Marker({
          map: self.map,
          draggable: false,
          animation: self.google.maps.Animation.DROP,
          position: new google.maps.LatLng(
            self.locals[i]['lat'],
            self.locals[i]['lng']
          )
        })
        var latLng = marker_modal.getPosition()
        self.map.setCenter(latLng)
        // self.map.setZoom(16)
      }
    },
    setPosition(lcl) {
      var location = new this.google.maps.LatLng(lcl.lat, lcl.lng)
      this.isActiveMap = true
      this.isActiveCloseMap = true
      this.map.setCenter(location)
    }
  }
}
</script>
<style lang="" scope>
</style>
