.card {
  &-header {
    &-w {
      background: $color-black;
      color: $color-white;
      font-weight: bold;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  &-body {
    &-product-text-scroll {
      height: 260px;
      overflow-y: scroll;
    }
  }
  &-text {
    &-w {
      font-size: 11.5px;
    }
  }
}
