#home-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 0px;
  @include tablet {
    min-height: 100vh;
    background-image: url(./../images/background-protecta.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: cover;
    padding-top: 10px;
  }
  > .row {
    margin: 0;
    width: 100%;
    @include tablet {
      padding: 0 10px;
      & > div:first-of-type {
        order: 0 !important;
      }
    }
    @include laptop-small {
      padding: 0 40px;
      margin-right: -15px;
      margin-left: -15px;
    }
    @include desktop {
      padding: 0 80px;
    }
    & > div:first-of-type {
      order: 2;
    }
  }
  h2 {
    font-family: workSansBold;
    font-size: 50px;
  }
  .home-top-container-buttons {
    position: absolute;
    bottom: 50px;
    right: 30px;
    left: 30px;
    @include tablet {
      position: static;
    }
    @include laptop-small {
      margin-top: 5em;
    }
    .btn-main {
      width: 100%;
      @include tablet {
        width: auto;
      }
    }
  }
  p {
    font-size: 20px;
    @include laptop-small {
      width: 70%;
    }
  }
  .home-top-left {
    background-image: url(./../images/background-protecta.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    background-size: cover;
    padding: 2em 1.5em;
    height: 300px;
    @include mobile {
      height: 400px;
    }
    @include tablet {
      background: none;
      height: auto;
      background-position: center bottom;
      height: 720px;
    }
  }
  .home-top-right {
    display: flex;
    flex-direction: column;
    @include tablet {
      align-items: flex-end;
    }
  }
  @include desktop-small {
    h2 {
      font-size: 70px;
    }
  }
}

#home-bottom {
  background-color: $color-gray2;
  .row {
    align-items: center;
    padding: 3em 1em 2em;
    @include tablet {
      height: 200px;
      padding: 0;
    }
    h2 {
      margin-bottom: 13px;
      margin-top: 40px;
      font-family: WorkSansSemiBold;
      font-size: 24px;
      @include tablet {
        margin-top: 0;
        font-size: 18px;
      }
    }
    p {
      font-size: 16px;
      text-align: justify;
      @include tablet {
        padding-right: 4em;
      }
    }
  }
}
