.profile {
  margin-top: 30px;
  &__card-info {
    margin-bottom: 20px;
  }
  &__card-codes {
    margin-bottom: 20px;
  }
  &__other_code {
    margin-bottom: 20px;
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }

    input {
      height: 46px !important;
    }
  }
  &__info {
    &__icon_edit {
      font-size: 14px;
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        margin-right: 5px;
      }
      &:hover {
        color: $color_black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    &__name {
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    &__base {
      font-size: 16px;
    }
  }
  &__codes {
    .custom-control-inline {
      margin-right: 0;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__item {
      margin: 10px 0;
      font-size: 22px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &__code {
        font-weight: 600;
        margin-bottom: 0px;
        &--limit {
          color: $color-black3;
        }
      }
      &__date_limit {
        font-size: 12px;
        &--limit {
          color: $color-black3;
        }
      }
      .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $color-green;
        background-color: $color-green;
      }
      &:hover {
        color: $color-green;
      }
      &--inactive {
        color: $color-gray1;
      }
      &--featured {
        color: $color-green;
      }
    }
  }
}
