<template>
  <div class="product product--four" :class="pr_cls">
    <nuxt-link :to="{ name: 'p-slug', params: { slug: product.slug } }">
      <div class="product__image">
        <img :src="product.image_url" width="360" height="300" />
      </div>
      <div class="product__description_block">
        <h3 class="product__description_block__company">{{ product.company_service.business_name }}</h3>
        <p class="product__description_block__name">{{ getTagsName(product.tags) }}</p>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  name: 'ProductItem',
  props: ['product', 'pr_cls'],
  computed: {
    baseUrlMedia() {
      return this.$store.getters['BaseUrlMedia']
    }
  },
  methods: {
    getTagsName(tags) {
      const tags_name = tags.map((elem) => {
        return elem.name
      })
      return tags_name.join('/')
    }
  }
}
</script>
