<template>
  <div class="products__container">
    <ProductItem
      :product="product"
      v-for="product in products"
      :key="product.id"
      :pr_cls="'product--block'"
    />
  </div>
</template>
<script>
import ProductItem from '@/components/product/ProductItem'
export default {
  name: 'ProductList',
  props: ['products'],
  components: { ProductItem }
}
</script>
