<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <font-awesome-icon far icon="times" class="modal-close" @click="$emit('close')" />
          <div class="modal-header">
            <img src="~assets/images/manos.png" class="img-manos" width="100" />
            <h3>Validar regalo</h3>
          </div>

          <div class="modal-body">
            <p>Al presionar Aceptar se invalidarán las demás opciones de regalos.</p>
          </div>

          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click.prevent="postCode()"
            >Aceptar</button>
          </div>
        </div>
        <!-- <div class="modal-container" v-else>
          <div class="modal-body">
            <p>No encontramos codigo para este descuento</p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn--full-dark discount_detail__btn_download"
              @click="$emit('close')"
            >Cerrar</button>
          </div>
        </div>-->
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data() {
    return {
      info: {
        company_service: ''
      }
    }
  },
  methods: {
    postCode() {
      var self = this
      this.$axios({
        method: 'post',
        url: '/products/' + self.$route.params.slug + '/code/'
      })
        .then((response) => {
          self.showModal = true
          self.exist_data = true
          self.info = response.data
          self.$emit('closeCode')
          self
            .$axios({
              method: 'get',
              url: '/products/' + self.$route.params.slug + '/code/pdf/',
              responseType: 'blob'
            })
            .then((response) => {
              const url = window.URL.createObjectURL(new Blob([response.data]))
              const link = document.createElement('a')
              link.href = url
              link.setAttribute('download', self.info.company_service + '.pdf')
              document.body.appendChild(link)
              link.click()
            })
        })
        .catch((error) => {
          self.showModal = true
          self.exist_data = false
        })
    }
  }
}
</script>
<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  margin: 0px auto;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
  margin-bottom: 20px;
  flex-direction: column;
}
.modal-header h3 {
  margin-top: 0;
  color: #000;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.modal-body {
  margin: 20px 0;
  text-align: center;
}
.modal-body h3 {
  font-size: 24px;
  margin-bottom: 40px;
}
.modal-body p {
  margin-bottom: 40px;
  font-size: 18px;
}
.modal-footer {
  text-align: center;
}
.modal-footer button {
  border-radius: 30px;
  padding: 10px 60px;
  font-size: 18px;
}
.modal-default-button {
  float: right;
}
.img-manos {
  margin: auto;
  margin-bottom: 10px;
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}
/*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
