<template>
  <div class="gift" v-if="exist_code">
    <h4 class="discount_detail__terms__title text-center">Para validar tu regalo</h4>
    <p class="text-center">{{text_pdf}}</p>
    <p class="gift__text_print text-center" v-if="existInfo()">
      <ButtonLoading
        @click.native="downloadPdf"
        :loading="loading"
        class="btn btn--full-dark text-center"
      >Imprimir</ButtonLoading>
    </p>
    <a
      href
      v-else
      @click.prevent="showModal=true"
      class="btn btn--full-dark discount_detail__btn_download mt-20 text-center"
    >Descargar</a>
    <product-code-modal v-if="showModal" @closeCode="closeCode" @close="showModal = false"></product-code-modal>
  </div>
</template>
<script>
import ProductCodeModal from '@/components/product/ProductCodeModal'
import ButtonLoading from '@/components/base/ButtonLoading'
export default {
  name: 'ProductCode',
  props: ['text_pdf'],
  data() {
    return {
      exist_code: false,
      showModal: false,
      exist_data: false,
      info: {},
      name: '',
      urlPDF: '',
      loading: false
    }
  },
  components: {
    ProductCodeModal,
    ButtonLoading
  },
  created() {
    this.getCode()
    this.urlPDF = '/p/' + this.$route.params.slug + '/codigo-pdf/'
  },
  methods: {
    downloadPdf() {
      const self = this
      this.loading = true
      this.$axios({
        method: 'get',
        url: '/products/' + self.$route.params.slug + '/code/pdf/',
        responseType: 'blob'
      }).then((response) => {
        console.log(response.data, 'adasdsa')
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', self.$route.params.slug + '.pdf')
        document.body.appendChild(link)
        link.click()
        self.loading = false
      })
    },
    closeCode() {
      this.getCode()
      this.showModal = false
    },
    existInfo() {
      var self = this
      return Object.values(self.info).length > 0
    },
    getCode() {
      var self = this
      this.$axios({
        method: 'get',
        url: '/products/' + self.$route.params.slug + '/code/'
      })
        .then((response) => {
          if (response.data.type == 'exist') {
            self.info = response.data
          } else {
          }
          self.name = response.data.name
          self.exist_code = true
        })
        .catch((error) => {})
    }
  }
}
</script>
<style lang='scss'>
.gift {
  margin: 10px 0;
  padding: 10px;
  h3 {
    color: #4a4a4a;
  }
  &__text_print {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    img {
      cursor: pointer;
      margin-left: 5px;
    }
  }
}
</style>
