.btn {
  // background: $color_white;
  // color: $color_black;
  // border: none;
  padding: 8px 20px;
  min-height: 45px;
  border-radius: 4px;
  transition: 0.2s ease all;
  font-weight: bold;
  line-height: 28px;
  cursor: pointer;
  &:hover {
    // color: $color_white;
    // background: $color_black;
  }
  &--small {
    padding: 8px 15px;
  }
  &--medium {
    width: 100%;
    height: 40px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
  }
  &--medium-l {
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    display: block;
  }
  &--large {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    outline: none;
    display: block;
    text-align: center;
  }
  &--facebook {
    color: $color_white;
    background: $color_facebook;
  }
  &--dark {
    background: $color_white;
    color: $color_black;
    font-weight: 400;
    border: 1px solid $color_black;
  }
  &--full-dark {
    background: $color_black;
    color: $color_white;
    font-weight: 400;
    border: 1px solid $color_black;
    &:hover {
      color: $color_black;
      background: $color_white;
    }
  }
  &--grey {
    background: $color_btn;
    color: $color_border_btn;
    font-weight: bold;
    border: 1px solid $color_border_btn;
  }
  &--green {
    background: $color_green;
    color: $color_white;
  }
  &--orange {
    background: $color_orange;
    color: $color_white;
  }
  &--main {
    background: $color_main;
    color: $color_white;
    font-weight: bold;
  }
}
