.cnt-form-tw {
  max-width: 450px;
  margin: auto;
  &__button {
    text-align: center;
    button {
      width: 200px;
      margin: auto;
    }
  }
}
.form {
  &__label {
    width: 100%;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
  }
  &__input {
    display: inline-block;
    width: 100%;
    text-align: left;
    min-height: 50px;
    border-radius: 4px;
    border: none;
    padding-left: 5px;
    &__error {
      color: $color_white;
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 5px;
      &--danger {
        color: $color_red;
      }
    }
    label {
      display: block;
    }
    input {
      width: 100%;
      height: 50px;
      padding: 4px 8px;
      padding-left: 12px;
      border-radius: 6px;
      border: none;
      width: 100%;
      color: black;
      outline: none;
      border: 1px solid #d8d8d8;
    }
    &--small {
      input {
        height: 40px;
      }
    }
    // &:first-child{
    //     margin-top: 0;
    // }
  }
  &__block_2 {
    display: flex;
    &--birth {
    }
    &__input {
      width: 50%;
      padding-right: 10px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__select,
  .combodate {
    // margin: 8px 0;
    select {
      min-height: 50px;
      padding: 4px 8px;
      border-radius: 6px;
      border: none;
      width: 100%;
      color: black;
      outline: none;
      background: $color_white;
      border: 1px solid #d8d8d8;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__area {
    // margin: 8px 0;
    textarea {
      width: 100%;
      height: 100px;
      padding: 4px 8px;
      padding-left: 12px;
      border-radius: 6px;
      border: none;
      width: 100%;
      color: black;
      outline: none;
      border: 1px solid #d8d8d8;
    }
  }
  &__checkbox {
    input {
      border: 1px solid #d8d8d8;
      background: $color_white;
    }
    span {
      color: $color_white;
    }
    span.dark {
      color: $color_black;
    }
    &--center {
      text-align: center;
    }
  }
  &__button {
    width: 100%;
  }
  &--flex {
    // display: flex;
    // flex-wrap:wrap;
  }
  &__error {
    color: $color_main;
    font-size: 14px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 480px) {
  .form {
    &__block_2 {
      &--birth {
        flex-direction: column;
      }
      &__input {
        width: 100%;
      }
    }
  }
}
