.timeline{
    $root: &;
    margin-bottom: 10px;
    &__total{
        max-width: 200px;
        background: #B3B1B3;
        height: 7px;
        border-radius: 4px;
        margin-bottom: 3px;
        position: relative;
    }
    &__restar{
        position: absolute;
        top: 0;
        left: 0;
        height: 7px;
        border-radius: 4px;
        background: $color_white;
        border: 1px solid #B3B1B3;
    }
    &__text{
        color:$color_white;
        margin-top: 2px;
        font-size: 13px;
        &--dark{
            color:$color_black;
        }
    }
}