<template>
  <div class="content_page">
    <Banner :banners="banners" v-if="banners.length > 0" />
    <section class="discount">
      <CategoryProductsCarrousel :categories="categories" v-if="categories.length > 0" />
      <div class="container" v-else>
        <div class="product_no_search">
          <img src="~assets/images/manos.png" width="80" />
          <h2 class="product_no_search__message">
            Ya disfrutaste de tu regalo, puedes ver en tu perfil el historial de
            pedidos.
          </h2>
          <h2 class="product_no_search__message">¡Nos vemos pronto!</h2>
          <div class="mt-2 mb-2">
            <nuxt-link :to="{ name: 'perfil' }" class="btn btn-dark">Ir al Perfil</nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Banner from '@/components/block/Banner'
import CategoryProductsCarrousel from '@/components/category/CategoryProductsCarrousel'
export default {
  name: 'Home',
  middleware: 'authenticated',
  components: {
    Banner,
    CategoryProductsCarrousel
  },
  data() {
    return {}
  },
  async asyncData({ app, error }) {
    try {
      const banners = await app.$axios.$get('/block/banners/')
      const categories = await app.$axios.$get('/categories/products/', {
        params: {
          crop_banner_home: '360x300',
          crop_image: '360x300'
        }
      })
      return { banners: banners, categories: categories }
    } catch (e) {
      error({ message: 'Pagina no encontrada', statusCode: 404, type: 'page' })
    }
  }
  // page component definitions
}
</script>
<style lang="scss">
@import 'tiny-slider/src/tiny-slider';
</style>
<style lang="scss">
.go_profile {
}
</style>
