<template>
  <div class="app page_index">
    <nav id="navbar" class="navbar navbar-expand-sm navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/logo_f.png" class="logo" alt="logo" />
      </a>
      <div id="navbar-nav-container" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link js-scroll-trigger btn btn-main"
              href="#login-form"
              >Tengo un regalo</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div id="home">
      <div id="home-top">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-7 home-top-left"></div>
          <div class="col-sm-12 col-md-6 col-lg-5 home-top-right">
            <LoginWrapper />
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <!-- <div id="footer">
      <span class="divider xs-visible"></span>
      <div class="container footer-top">
        <div class="row">
          <div class="col-sm-5">
            <img
              src="~assets/images/logo.png"
              alt="weeare"
              width="245px"
              class="logo"
            />
          </div>
        </div>
      </div>
      <span class="divider xs-hidden"></span>
      <div class="container footer-bottom">
        <ul>
          <li>
            <a href>Terms</a>
          </li>
          <li>
            <a href>Privacidad</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="#" class="footer-bottom-icon facebook"></a>
          </li>
          <li>
            <a href="#" class="footer-bottom-icon linkedin"></a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</template>
<script>
import FormAttr from '@/components/block/FormAttr'
import LoginWrapper from '@/components/home/LoginWrapper'
export default {
  layout: 'login',
  components: {
    LoginWrapper,
    FormAttr
  },
  created() {
    console.log(process.client, 'process.client')
  },
  mounted() {
    if (process.client) {
      window.addEventListener('scroll', this.navScroll)
    }
  },
  destroyed() {
    if (process.client) {
      window.removeEventListener('scroll', this.navScroll)
    }
  },
  head() {
    return {
      title: `Protecta`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Protecta'
        }
        // other meta
      ]
    }
  },
  methods: {
    navScroll() {
      let navbar = document.getElementById('navbar')
      if (window.scrollY > 50) {
        navbar.classList.add('navbar-shrink')
      } else {
        navbar.classList.remove('navbar-shrink')
      }
    }
  }
}
</script>
