<template>
  <div class="content_page">
    <section class="profile">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <ProfileRead @isEdit="setRead()" v-if="is_read" />
            <ProfileEdit v-else @setRead="is_read=true" />
            <ProfilePreValidate />
          </div>
          <div class="col-md-5">
            <ProfileCode />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import ProfileRead from '@/components/account/ProfileRead'
import ProfileEdit from '@/components/account/ProfileEdit'
import ProfileCode from '@/components/account/ProfileCode'
import ProfilePreValidate from '@/components/account/ProfilePreValidate'
export default {
  name: 'Profile',
  middleware: 'authenticated',
  components: {
    ProfileRead,
    ProfileEdit,
    ProfileCode,
    ProfilePreValidate
  },
  data() {
    return {
      is_read: true
    }
  },
  methods: {
    setRead() {
      this.is_read = false
    }
  }
}
</script>
