.footer{
    background: $color_black;
    padding: 30px 0;
    box-shadow: 0 -18px 23px -29px rgba(0, 0, 0, 0.64);
    min-height: 158px;
    position: absolute;
    bottom: 0;
    width: 100%;
    ul{
        padding: 0;
    }
    li{
        margin-bottom: 10px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        // align-items:flex-end;
    }
    &__left{
        display: flex;
        justify-content: space-between;
        &__ul{
            margin-right: 40px;
        }
    }
    &__right{
        &__title{
            font-size: 17px;
            font-weight: 600;
        }
        p{
            margin: 5px 0;
        }
        &__cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                display: block;
                height: auto;
            }
        }
    }
    &__link{
        color: $color_white;
        transition: .3s ease all;
        font-size: 17px;
        &:hover{
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 768px) {
  .footer{
    // height: auto;
    // position: inherit;
    &__left{
        margin-bottom: 10px;
    }
    &__container{
        flex-direction: column;
        align-items: inherit;
    }
  }
}

@media screen and (max-width: 480px) {
    .footer{
        &__link{
            font-size: 15px;
        }
        &__left{
            // flex-direction: column;
            &__ul{
                margin-right: 15px;
            }
        }

      }
}
@media screen and (max-width: 360px) {
    .footer{
        &__left{
            // flex-direction: column;
            &__ul{
                margin-right: 8px;
            }
        }

      }
}