.header {
  padding: 25px 0 25px 0;
  background-color: $color_white;
  position: relative;
  box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.64);
  z-index: 10;
  .navbar {
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu_icon {
    font-size: 32px;
    color: $color_blue;
    display: none;
  }
  &__logo {
    width: 240px;
    height: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__ul {
      display: flex;
      justify-content: flex-end;
    }
    &__link {
      color: $color_gray;
      margin: 0 13px;
      font-size: 18px;
      transition: 0.3s ease all;
      &:hover {
        font-weight: bold;
        color: $color_green;
        // color: $color_black;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    z-index: 100;
    padding: 12px 0;
    &__menu {
      $root: &;
      width: 100%;
      display: block;
      &--active {
        display: block !important;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        box-shadow: 0 1px 7px -3px rgba(0, 0, 0, 0.64);
        background: $color_white;
        #{$root}__ul {
          flex-direction: column;
          background: $color_white;
          padding: 0;
        }
        #{$root}__link {
          padding: 10px 15px;
          display: block;
          margin: 0;
          border-top: 1px solid $color_grey;
        }
      }
      &__link {
        width: 100%;
        display: block;
        margin: 0;
        padding: 5px;
      }
      &__ul {
        width: 100%;
      }
    }
    &__menu_icon {
      display: block;
    }
  }
}
