.bg-main {
  background-color: $color_main;
}
.bg-grey {
  background: $bg_register;
}
* {
  box-sizing: border-box;
  font-family: $font_regular;
}
body,
html {
  background: #f2f2f2;
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100vh;
  // min-height: 100vh;
}
.container {
  width: 96%;
  max-width: 1200px;
  margin: auto;
  // position: relative;
  &--small {
    max-width: 1000px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
  color: #000;
}
figure {
  margin: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.text-white {
  color: $color_white;
}
.text-dark {
  color: $color_black;
}
img {
  display: block;
  margin: 0;
}
.text-center {
  text-align: center;
}
ul {
  margin: 0;
  li {
    list-style-type: none;
  }
}
.img-responsive {
  width: 100%;
  height: auto;
}
.d-none {
  display: none;
}
.d-inline-block {
  display: inline-block;
}
.mb-10 {
  margin-bottom: 10px;
}
.content_page {
  background: #f2f2f2;
  padding-bottom: 158px;
}
.page {
}
.overlay {
  background: rgba($color_black, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 80;
  display: none;
  &--active {
    display: block;
  }
}
.combodate {
  width: 100%;
  select {
    width: calc(33% - 2px) !important;
  }
}
table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}
tbody tr:first-child {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  padding: 15px;
}
.err {
  color: $color_red;
  font-size: 13px;
  margin-top: 3px;
}
@media screen and (max-width: 768px) {
  .content_page {
    // padding-bottom: 10px;
  }
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.m-auto {
  margin: auto;
}
// @media screen and (max-width: 480px){
//     .content_page{
//         padding-bottom: 10px;
//     }
// }
.go_back {
  color: $color_black;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  span {
    margin-left: 5px;
  }
  &:hover {
    font-weight: bold;
    color: $color_green;
  }
}
